{
	metrics {
		per_host
	}
}

:5080 {
	log {
		format json
	}

	# Redirect root path to /blog/
	@root {
		path /
	}
	redir @root /blog/ 308

	handle_path /blog/* {
		root * /srv/blog
		templates {
			extensions {
				hitCounter {
					style bright_green
					pad_digits 7
				}
			}
		}
		file_server {
			index index.html
		}
	}

	handle_path /public/* {
		root * /srv/public
		file_server {
		    hide .git-keep
            browse
		}
	}

	handle_path /unlisted/* {
		root * /srv/unlisted
		file_server {
		    hide .git-keep
		}
	}
}

# Expose metrics on an endpoint other than the admin API
:9090 {
	metrics
}