{
	metrics {
		per_host
	}
}

# blog
:5080 {
	log {
		format json
	}

	# Redirect root path to /blog/
    handle / {
        redir / /blog/
    }

	handle_path /blog/* {
		root * /srv/blog
		templates {
			extensions {
				hitCounter {
					style bright_green
					pad_digits 7
				}
			}
		}
		file_server {
			index index.html
		}
	}

	handle_path /public/* {
		root * /srv/public
		file_server {
		    hide .git-keep
            browse
		}
	}

	handle_path /unlisted/* {
		root * /srv/unlisted
		file_server {
		    hide .git-keep
		}
	}

    handle {
        respond 404
    }
}

# prevent-sleep
:5081 {

    handle_path / {
        root * /srv/prevent-sleep
        templates {
            extensions {
                hitCounter {
                    style bright_green
                    pad_digits 7
                }
            }
        }
        file_server {
            index index.html
        }
    }

    handle {
        redir * /
    }
}

# Expose metrics on an endpoint other than the admin API
:9090 {
	metrics
}