name: personal_website

services:
  caddy:
    build:
      context: ../.
      dockerfile: Dockerfile
      args:
        - CADDY_VERSION=2.10.2
    restart: unless-stopped
    ports:
      - 9089:9090 # Caddy metrics
      - 5080:5080
      - 5081:5081
    volumes:
      - ../Caddyfile:/etc/caddy/Caddyfile:ro
      - ../config/:/config/
      - ../data/:/data/
      - ../hugo-site/public/:/srv/blog/
      - ../prevent-sleep/public/:/srv/prevent-sleep/
      - ../mnt/public/:/srv/public/
      - ../mnt/unlisted/:/srv/unlisted/
    user: '1000'
